body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header .logo {
    width: 150px;
    height: auto;
    float: left;
}

header nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block; /* Change to inline-block */
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.health-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto; /* Center the box */
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    color: white;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

a {
    display: block;
    margin-top: 20px;
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
